*{
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.Inicio{
    font-size: 100px;
    height:100vh ;
    display: flex;
    flex-direction: column;
    text-align: center;/*Deixa texto no centro*/
    justify-content: center;
}

.QuemSouEu{
    height:100vh ;
    display: flex;
    flex: 1;
}

.QuemSouEu img{
    flex: 1; /* Cada lado ocupa igual espaço */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.Texto{
    flex: 1; /* Cada lado ocupa igual espaço */
    font-size: 35px;
    align-items: center;
    justify-content: center;
}

/* .QuemSouEu h1, .QuemSouEu p{
    display: flex;  
    flex-direction: column;
} */

.Conhecimento{
    height:100vh ;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas de tamanho igual */
    gap: 10px; /* Espaçamento entre os elementos */
    text-align: center;  
    
}

.Conhecimento img{
    border-radius: 5px;
    height:100px ;
    width:100px ;
    background-color: white;
    
}

.Conhecimento p1{  /*Pretendo colocar p1 a direita da imagem*/ 
    text-align: right;/*mudou nada no site*/
    
}

.Conhecimento h1{
    position: absolute;
    
}

.Projetos{
    height:100vh ;
    
   
}

.Projetos img{
    height:30vh;
    width:30vh;
}

.visita, .equipamento{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

}

.Contatos{
    height:100vh;
}


.Contatos img{
    border-radius: 5px;
    height:50px ;
    width:50px ;
}
/* .Python, .Java, .Html, .Css, .Javascript, .Sql{
    height:5px;
    width: 5px;

} */