*{
    background-color: black;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.Inicio{
    height:100vh ;
    display: flex;
    flex-direction: column;
    text-align: center;/*Deixa texto no centro*/
    font-size: 100px;
    justify-content: center;
}

.QuemSouEu{
    height:100vh ;
    display: flex;  
}

/* .QuemSouEu h1, .QuemSouEu p{
    display: flex;  
    flex-direction: column;
} */

.Conhecimento{
    height:100vh ;
}

.Projetos{
    height:100vh ;
   
}

.Contatos{
    height:100vh ;
}